* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

header{
    background-color: #272424;
}

nav {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.logo {
    font-weight: 800;
    font-size: 25px
}


.nav-itens {
    list-style: none;
    display: flex;

}

.nav-itens > li {
    padding: 30px;
    font-family: "Poppins", sans-serif;
    
}


h1 {
    color: #F1842D;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #010019;
}

.home > h1 {
    font-family: 'Baskervville', serif;
    font-size: 5rem;
}

.video-descrip {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
}


.button{
    position:relative;
    display:inline-block;
    margin:20px;
  }
  
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .prosolve {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    
  }

  .grafic {
    width: 500px;

  }

  .container{
    display: flex;
    flex-direction: row-reverse;
    
  }

.demonstracao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./background2.png);
   background-repeat: no-repeat;
   background-size: cover;
}
  
.demonstracao > h3 {
    font-family: "open sans" sans-serif;
    color: #F1842D;
    display: flex;
    font-size: 50px;
    padding-top: 20px;
   }

  .demonstracao > p {
    padding-top: 10rem;
    color: white;
    padding-bottom: 70px;
  }



.demo-button {
    border: solid 1px #FFAE24;
    border-radius: 20px;
    color: white;
    background-color: #FFAE24;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    text-decoration: none;
    width: 300px; height: 30px;
    font-family: "open sans" sans-serif;
    display: flex;   
    align-items: center; 
    justify-content: center; 
    font-weight: bolder;
    


}

.demo-button:hover{
  background-color: #FFAE24;
  color: white;
  transform: scale(1.2)
}


.play-button {
  border: solid 1px #1F1347;
  border-radius: 20px;
  color: #1F1347;
  background-color: #FC5658;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  text-decoration: none;
  width: 100px; height: 30px;
  font-family: "open sans" sans-serif;
  display: flex;   
  align-items: center; 
  justify-content: center; 
  box-shadow: #1F1347 3px 3px 0px;
  font-weight: bolder;
  margin-top: 20rem;
}

.control {
  padding-top: 20px;
  padding-bottom: 5px;
  width: 100px;

}

.Contact {
  background-image: url(./background-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-items: center;
 
  
  
}

#input-do-email {
  width: 100px;
}