* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

header{
    background-color: #272424;
}

nav {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.logo {
    font-weight: 800;
    font-size: 25px
}


.nav-itens {
    list-style: none;
    display: flex;

}

.nav-itens > li {
    padding: 30px;
    font-family: "Poppins", sans-serif;
    
}


h1 {
    color: #F1842D;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #010019;
}

.home > h1 {
    font-family: 'Baskervville', serif;
    font-size: 5rem;
}

.home > h4 {
  color: white
}

.video-descrip {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    width: 31rem;
}


.button{
    position:relative;
    display:inline-block;
    margin: 3rem;
  }
  
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  #problemesolve {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-image: url(./images/background1.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 1.5rem 0;
      
  }


  .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .right > p{
    color:white;
    font-family: 'Archivo Black', sans-serif;
    width: 30rem;
  }

  .right > h2{
    font-family: "open-sans" sans-serif;
    color: #F1842D;
    font-size: 3rem;
    
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .left > h2 {
    font-family: "open-sans" sans-serif;
    color: #F1842D;
    font-size: 3rem;
  }

  .left > p {
    color: white;
    font-family: 'Archivo Black', sans-serif;
    width: 30rem;
  }


.demonstracao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/background2.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-clip: border-box;
  
}
  
.demonstracao > h3 {
    font-family: 'Archivo Black', sans-serif;
    color: #F1842D;
    display: flex;
    font-size: 3rem;
    padding-top: 2rem;
   }

  .demonstracao > p {
    padding-top: 10rem;
    color: white;
    padding-bottom: 3rem;
    width: 32rem;
    font-family: 'Archivo Black', sans-serif;
  }



.demo-button {
    border: solid 1px #FFAE24;
    border-radius: 20px;
    color: white;
    background-color: #FFAE24;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    text-decoration: none;
    width: 300px; height: 30px;
    font-family: "open sans" sans-serif;
    display: flex;   
    align-items: center; 
    justify-content: center; 
    font-weight: bolder;
    


}

.demo-button:hover{
  background-color: #FFAE24;
  color: white;
  transform: scale(1.2)
}


.play-button {
  border: solid 1px #1F1347;
  border-radius: 20px;
  color: #1F1347;
  background-color: #FC5658;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  text-decoration: none;
  width: 100px; height: 30px;
  font-family: "open sans" sans-serif;
  display: flex;   
  align-items: center; 
  justify-content: center; 
  box-shadow: #1F1347 3px 3px 0px;
  font-weight: bolder;
  margin-top: 10rem;
}

.play-button:hover{
  background-color: #FC5658;
  color: white;
  transform: scale(1.2)
}

.control {
  padding-top: 20px;
  padding-bottom: 5px;
  width: 100px;

}

.contact {
  background-color: #2E1B5B;
 padding: 2rem 0;
}

.contact h2 { 
  text-align: center;
  color: #F1842D;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  
}
#contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 #contact-container h3 {
  color: white;
  font-family: 'Archivo Black', sans-serif;
  padding-top: 10rem;
 }


 
 .contact img {
  width: 10rem;
  align-items: center;

}

label{
  color:white;
  padding-top: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: start;
  width: 100%;
  
}




.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 2.5rem;

  
}

.formulario #name,#email {
  width: 100%;
  padding: 0.8rem;
  border:none;
  border-radius: 0.3rem;
}

.button-contact {
  border: solid 1px #1F1347;
  border-radius: 20px;
  color: #1F1347;
  background-color: #FC5658;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  text-decoration: none;
  width: 100px; height: 30px;
  font-family: "open sans" sans-serif;
  display: flex; 
  flex-direction: column;  
  align-items: center; 
  justify-content: center; 
  box-shadow: #1F1347 3px 3px 0px;
  font-weight: bolder;
  
}

.button-contact:hover{
  background-color: #FC5658;
  color: white;
  transform: scale(1.2)
}

